.back_btn {
    background: green;
    color: yellow;
    width: 50px;
    border-radius: 10%;
    position: absolute;
    bottom: 50%;

}

.col_head_style {
    display: flex;
    justify-content: center;
    margin-right: -1px;
    border-right: 1px solid lavender;
    border-left: 1px solid lavender;
}